@import url(./template.css);
:root{
    --grasfoto: url("../img/Spongebob/sea.jpg");
    --spelerfoto: url("../img/Spongebob/spongebob.png");
    --vijandfoto: url("../img/Spongebob/mrCrab.png");
    --schatfoto: url("../img/Spongebob/crabbyPatty.png");
    --muurfoto: url("../img/Spongebob/coral.png");

    --player-hurt1: url("../img/standaard/speler-hurt1.png");
    --player-hurt2: url("../img/standaard/speler-hurt2.png");
    --player-hurt3: url("../img/standaard/speler-hurt3.png");
}

.schat{
    background-size: 50%;
    background-repeat: no-repeat;
}
.speler{
    animation: floaty 0.5s infinite;
}

@keyframes moveX{
   
    0%, 100%{
        transform: rotate(10deg);
        transform-origin: bottom center;
    }
    50%{
        transform: rotate(-10deg);
        transform-origin: bottom center;
    }
}
.muur{
    animation: moveX 5s infinite;
}