/*variable*/
:root{
    --grasfoto: url("../img/standaard/gras.png");
    --spelerfoto: url("../img/standaard/speler.png");
    --vijandfoto: url("../img/standaard/vijand.png");
    --schatfoto: url("../img/standaard/schat.png");
    --muurfoto: url("../img/standaard/muur.png");

    --player-hurt1: url("../img/standaard/speler-hurt1.png");
    --player-hurt2: url("../img/standaard/speler-hurt2.png");
    --player-hurt3: url("../img/standaard/speler-hurt3.png");
}

/*gras*/
.style1, .gras {

    background-size:100%;
}


/*speler*/
.style2, .speler {
    background-image: var(--spelerfoto);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.style2, .speler_dood, .speler.dood {
    transform: rotate(180deg);
}

.speler.hurt1{
    background-image: var(--player-hurt1)   ;
    background-size: 100%;
    background-repeat: no-repeat;
}

.speler.hurt2{
    background-image: var(--player-hurt2);
}

.speler.hurt3{
    background-image: var(--player-hurt3);
}

.right{
    transform: none;
}
.left{
    transform: scaleX(-1);
}
.up{
    transform: rotate(-90deg); 
}
.down{
    transform: rotate(90deg);
}



/*muur*/

.style4, .muur {
    background-image: var(--muurfoto);
    background-size:100%;
    background-position: center;
}

/*schat*/

.style4, .schat {
    border-radius: 25%;
    background-image: var(--schatfoto);
    animation: rotate 2s linear infinite;
}

@keyframes rotate {

    from {
      transform: rotateZ(-180deg);
    }
    to {
      transform: rotateZ(180deg);
    }
  }

/*vijand*/

.style5, .vijand {
    background-image: var(--vijandfoto);
    background-size: 100%;
    background-position: center;
    animation: floaty 1s infinite;
    filter: invert(13%) sepia(69%) saturate(6735%) hue-rotate(277deg) brightness(90%) contrast(105%);
}

/*kleur van zwart naar een andere kleur veranderen*/
/*https://codepen.io/sosuke/pen/Pjoqqp*/
.vijand.rood{
    filter: invert(12%) sepia(100%) saturate(6408%) hue-rotate(9deg) brightness(105%) contrast(120%);
}

.vijand.blauw{
    filter: invert(45%) sepia(45%) saturate(4495%) hue-rotate(166deg) brightness(101%) contrast(101%);
}

.vijand.paars{
    filter: invert(13%) sepia(69%) saturate(6735%) hue-rotate(277deg) brightness(90%) contrast(105%);
}

table {
    border-collapse: collapse;
    background-image: var(--grasfoto);
    background-repeat: repeat;
    background-size: 15%;
}

@keyframes floaty {
    0%, 100% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(-2px);
    }
}

img{
    background-repeat: no-repeat;
}

td{
    
    background-size: 100%;
    background-position: center;
}

.gras, .speler, .speler_dood, .muur, .schat, .vijand {
    height: 60px;
    width: 60px;
    
}

.label {
    width: 150px;
}

.timer {
    font-size: 60px;
}

.gegevens {
    font-family: Ubuntu;
    font-size: 12px;
}

#wrapper {
    width: 100%;
    overflow: hidden;
    /* will contain if #output is longer than #buttons */
}

#output {
    float: left;
    /* add this */
}

#buttons {
    overflow: hidden;
    /* if you don't want #buttons to wrap below #output */
}